*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    padding: 0 3rem;
}
.wrapper{
width: 100%;
height: ;
/* border: solid 0.5rem #F26464; */
}
.title__content{
font-size: 2.5rem ;
width: 100%;
padding: 1.5rem 0;
}
.title__content h2{
    display: flex;
    justify-content: center;
    width: 100%;
   
}
.content{
width: 100%;
height: 47%;

}
.container{
     display: flex;
     
    
}
.img__product{
width: 40%;
height: 30%;
}
.img__product img{
    height: 30rem;
    width: 100%;
}
.content__product{
    width: 60%;
    height: 30rem;
    margin-left: 2rem;
}
.title__variable{
    padding: 1rem 0;
}
.icon .icon1{
    padding: 1rem 0;
}
.icon p {
   
}
.price{

}
.content__product p{
    padding: 1rem 0;
}
.inf{
display: flex;
height: 4rem;

}
.inf__size {
font-size: 2rem;
}
.inf__color{
    font-size: 2rem;
    margin-left: 1rem;
}
.info__quatity{
font-size: 2rem;
padding: 1rem 0;
}
.submit__product{

}
span .descriptionreview__box{
    display: inline;
}
.description__review__title{
width: 100%;
}
.description__review__title{
    display: flex;
    margin: 1rem 0;
   
}
.title__1{
    margin: 0 1rem;
    text-decoration: underline;
}
.title__2{
    margin: 0 1rem;
}















/* content  */
.content__final1 {
    margin: 2rem 0;
}
.content__final1 p{
    text-decoration: none;
}
.content__footer p{
display: flex;
justify-content: center;
}
.content__footer{
    padding: 1rem 0;
}